.movie-detail-popup
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #fff
  .header
    display: flex
    padding: .4rem
    justify-content: space-between
    color: #fff
    background-color: #999933
  .picture-wrap
    display: flex
    justify-content: center
    align-items: center
    height: 45vh
    background-color: #999933
    img
      height: 80%
