.login-box
  position: fixed
  top: 0
  left: 0
  height: 100vh
  width: 100vw
  padding: .4rem
  background-color: #fff
  z-index: 1001
  .top
    .icon-previewleft
      font-size: .6rem
      color: #33CC66 
  .login-title
    display: flex
    justify-content: center
    align-items: center
    height: 20vh
    color: #33CC66 
    font-size: 1.1rem
  .login-form
    padding: .2rem
    li
      margin-top: 1rem
      padding-bottom: .1rem
      border-bottom: 2px solid #33CC66 
      input
        padding-left: .2rem
        width: 100%
        font-size: .45rem
        border: none
        outline: none
  .btn-login
    display: flex
    margin: .4rem .2rem
    height: 1.1rem
    justify-content: center
    align-items: center
    color: #fff
    letter-spacing: 2px
    background-color: #33CC66 
  .btn-other
    display: flex
    margin: 0 auto
    width: 44vw
    font-size: .4rem
    color: #999
    .left
      margin-right: .5rem
      padding-right: .5rem
      color: #33CC66 
      border-right: 1px solid #ccc

