.rating-box
  display: flex
  .stars
    position: relative
    left: -0.05rem
    .average
      display: inline-flex
      margin-left: .2rem
    .icon-star
      color: #ccc
    .active
      color: #fabf41
