.container
  background-color #fff
  .content
    height: 92vh
    width: 100%
    overflow: hidden
  .footer
    position: fixed
    width: 100vw
    height: 8vh
    bottom: 0
    border-top: 1px solid #ccc
    background-color: #fff
    z-index: 1000
