.movie-list
  font-size: 14px
  height: 84vh
  max-height: 84vh
  overflow: auto
  .movie
    display: flex
    height: 4rem
    padding: .3rem
    border-bottom: 1px solid #f1f1f1
    .left
      height: 100%
      width: 2.6rem
      img
        height: 100%
    .center
      flex: 1
      .title
        font-size: 16px
        font-weight: bold
    .right
      width: 2rem
