.tab-items
  display: flex
  height: 6vh
  font-size: 16px
  .item
    display: flex
    flex: 1
    justify-content: center
    align-items: center
    height: 6vh
    color: #999
    border-bottom: 1px solid #f1f1f1
  .active
    color: #666
    border-bottom: 2px solid #333
