.tab-items
  display: flex
  height: 6.5vh
  font-size: 16px
  border-bottom: 1px solid #f1f1f1
  .item
    display: flex
    flex: 1
    justify-content: center
    align-items: center
    height: 100%
    color: #999
    border-bottom: 2px solid #fff
  .active
    color: #666
    border-bottom: 2px solid #333
