.nav-wrap
  display: flex
  justify-content: space-around
  align-items: center
  height: 100%
  a
    color: #999
    text-decoration: none
  a.active
    color: #333
.nav-item
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  i
    font-size: 1.5em
  span
    font-size: .8em
