.nav-wrap
  display: flex
  justify-content: space-around
  align-items: center
  height: 100%
  a
    display: flex
    justify-content: space-around
    align-items: center
    flex: 1
    height: 100%
    color: #999
    text-decoration: none
    user-select: none
  a.active
    color: #333
.nav-item
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  user-select: none
  i
    font-size: .6rem
  span
    font-size: .3rem
