.hot-box
  .movies-board
    padding-left: .4rem
    width: 100vw
    max-width: 100vw
    overflow: auto
    .movies-board-inner
      display: flex
      flex-wrap: wrap
      width: 225vw
      .movie
        margin-right: .2rem
        padding-bottom: .2rem
        width: 2.6rem
        &.no-margin-right
          margin-right: 0
        .bg-movie
          width: 2.5rem
          height: 3.4rem
          background-size: cover
          background-position: center center;
          background-repeat: no-repeat;
        .title
          margin-top: .1rem
          font-size: .3rem
